{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
{% include "nav.html" %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Diagrams</li>
</ol>
<h1>Diagrams</h1>
<p class="lead">This is the repository of CAVE Language diagrams.  Click on any diagram to see it, access a downloadable PDF, and see which symbols have been referenced by it.</p>
{% if diagrams %}
<ul class="list-group">
    {% for diagram in diagrams %}
    <li class="list-group-item"><a href="/diagram/{{ diagram.pk }}/{{ diagram.slug }}/">{{ diagram.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}