{% load staticfiles %}

<table class="table table-striped">
    <tr>
        <th>Icon</th>
        <th>Symbol</th>
        <th>Description</th>
    </tr>
    {% for symbol in symbols %}
    <tr>
        {% with 'symbols/'|add:symbol.slug|add:'.png' as symbol_image %}
        <td><img src="{% static symbol_image %}"></td>
        {% endwith %}
        <td><a href="/symbol/{{ symbol.slug }}/"><strong>{% if symbol.proposed %}<em>{% endif %}{{ symbol.name }}{% if symbol.proposed %}</em>{% endif %}</strong></a></td>
        <td>{{ symbol.description|safe }}</td>
    </tr>
    {% endfor %}
</table>
